<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seckillflow.mapper.GroupMapper">


    <resultMap type="com.seckillflow.domain.entity.TaskGroupEntity" id="GroupResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectAllocatedList" resultMap="GroupResult">
        select * from TASK_GROUP  where 1=1
            ${ew.getCustomSqlSegment}
    </select>
</mapper>
